.answers {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  gap: 20px;
}

.answers__option {
  width: 100%;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  background: var(--color-1);
  border-radius: var(--border-radius-1);
  border: none;
  outline: none;
  cursor: pointer;
}

.answers__option:hover {
  background: var(--linear-gradient);
}

.answer-selected {
  background: var(--linear-gradient);
}

@media screen and (min-width: 600px) {
  .answers {
    grid-template-columns: 230px 230px;
  }
}
