:root {
  --max-width: 1100px;
  --border-radius-1: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --color-1: #393f6e;
  --color-2: #e2e4f3;
  --color-3: #343964;
  --color-4: #3e9fff;
  --color-5: #dd524c;
  --color-6: #8b8eab;
  --color-7: #ffecc8;
  --text-xl: 24px;
  --text-l: 20px;
  --text-m: 16px;
  --text-s: 14px;
  --linear-gradient: linear-gradient(#e65895, #bc6be8);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  color: var(--color-2);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
